<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <romcity translate="label" module="romcity">
            <label>Mxcalculator</label>
            <sort_order>100</sort_order>
        </romcity>
    </tabs>
    <sections>
        <romcity translate="label" module="romcity">
            <label>Matrix rate calculator</label>
            <tab>romcity</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
             <groups>
                <config translate="label" >
                    <label>My Extension Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                     <fields>
                        <input translate="label">
                            <label>My Input Field: </label>
                            <comment>My Comment</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </input>
                        <select translate="label">
                            <label>My Dropdown: </label>
                            <comment>Source model provider Magento's default Yes/No values</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </select>
                    </fields>
                </config>
            </groups>
        </romcity>
    </sections>
</config>